@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../../node_modules/katex//dist//katex.min.css";

html {
    --foreground-rgb: 25, 25, 25;
    --background-gray-rgb: 224, 229, 230;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

html.dark {
    --foreground-rgb: 230, 230, 230;
    --background-gray-rgb: 25, 25, 25;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-end-rgb));
}

main {
    max-width: min(800px, 95%);
    margin: 0 auto;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

html.dark .shiki,
html.dark .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
}

html {
    .post-container {
        .remark-mermaid.remark-mermaid-dark {
            display: none;
        }
        .remark-mermaid.remark-mermaid-neutral {
            display: block;
        }
    }
}

html.dark {
    .post-container {
        .remark-mermaid.remark-mermaid-neutral {
            display: none;
        }
        .remark-mermaid.remark-mermaid-dark {
            display: block;
        }
    }
}

.post-container {
    h1 {
        padding-bottom: 4px;
        margin-bottom: 16px;
        font-size: 24px;
        font-weight: bold;
        border-bottom: solid 1px gray;
    }

    h2 {
        padding-bottom: 4px;
        margin: 16px 0;
        font-size: 21px;
        font-weight: bold;
        border-bottom: solid 1px gray;
    }

    h3 {
        margin: 16px 0;
        font-size: 18px;
        font-weight: bold;
    }

    p {
        margin: 6px 0;
    }

    a {
        color: #0af;
        transition: opacity 0.1s linear;
    }

    a:hover {
        opacity: 0.5;
    }

    table {
        display: block;
        width: max-content;
        max-width: 100%;
        overflow: auto;
        margin: 1em 0 1em 1em;

        tr,
        th,
        td {
            border: 1px solid gray;
            padding: 6px 12px;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 4px;
        list-style-position: inside;
        list-style: disc;
        margin: 1em 0 1em 2em;

        ul,
        ol {
            margin: 0 0 0 2em;
        }
    }

    ul.contains-task-list {
        list-style: none;
        margin-left: 1em;
    }

    ol {
        display: flex;
        flex-direction: column;
        gap: 4px;
        list-style-position: inside;
        list-style: decimal;
        margin: 1em 0 1em 2em;

        ul,
        ol {
            margin: 0 0 0 2em;
        }
    }

    code {
        padding: 2px 4px;
        border-radius: 4px;
        background-color: rgb(var(--background-gray-rgb));
    }

    pre {
        margin: 16px 0;
        padding: 8px;
        border-radius: 4px;
        overflow-x: auto;

        code {
            padding: 0;
            background-color: transparent;
        }
    }

    blockquote {
        margin: 8px 0;
        padding: 8px;
        border-left: 4px solid gray;
        background-color: rgba(var(--background-gray-rgb), 0.5);
    }

    summary {
        cursor: pointer;
    }

    .rlc-container {
        width: 100%;
        max-width: 800px;
        max-height: 120px;
        margin: 0 auto 2rem;

        color: rgb(var(--foreground-rgb));
        text-decoration: none;

        border: 1px solid rgb(var(--background-gray-rgb));
        border-radius: 0.25rem;
        display: flex;
        align-items: stretch;
    }

    .rlc-info {
        overflow: hidden;
        padding: 0.5rem;
        flex: 4 1 100px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .rlc-title {
        font-size: 1.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .rlc-description {
        font-size: 0.875rem;
        color: rgb(var(--foreground-rgb));
        overflow: hidden;
        line-height: 1rem;
        height: 2rem;
    }

    .rlc-url-container {
        display: flex;
        align-items: center;
    }

    .rlc-favicon {
        margin-right: 4px;
        width: 16px;
        height: 16px;
    }

    .rlc-url {
        font-size: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .rlc-image-container {
        position: relative;
        flex: 1 1 100px;
    }

    .rlc-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-bottom-right-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
}
